{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static "css/login.css" %}">

</head>
<body>
    <main class="container">
        <div class="imagem">
            
            <img src="" alt="" class="fundo">
        </div>
        <section class="dados">
            <form method="POST" class="form" action="{% url "login" %}"> {% csrf_token %}
                <h1>Login</h1>
                <div class="input-field">
                    <Label>Usuário:</Label>
                    <input type="text" name="usuario" class="campo" >
                </div>
                <div class="input-field">
                    <label> Senha:</label>
                    <input type="password" name="senha" class="campo">
                </div>
                <input class="btn" type="submit" value="Entrar">
            </form>
        </section>
    </main>

</body>
</html>